@font-face {
  font-family: Dream Orphans;
  src: url();
}




/* //esto es como un tipo de reseteo para todos los elementos de la pagina */
* {
  margin: 0rem;
  padding: 0rem;
  font-family: Dream Orphans;
  letter-spacing: 0.05rem;
  color: #c3c9c9;
}

/* //siempre se arranca con el BODY */
body {
  /* vw(view width)el espacio que se ve en la pantalla y debe ser en 100 para 
  que no se salga de la pantalla y me cree la barra horizontal */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.container-video {
  position: relative;
  overflow: hidden;
}

.container-video {
  object-fit: cover;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  width: 98%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #203b47d5;
  padding: 1%;
}

.navbar a {
  text-decoration: none;
}

.logo {
  margin-right: 50px;
}

.list {
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}

li {
  /* para quitar los puntos de inicio */
  list-style: none;
}


.list>li>a {
  /* para evita la linea del subrayado */
  text-decoration: none;
  /* CREACION DE ANCHA PARA NAVEGACION */
  /* ancho */
  width: 8rem;
  /* paraque no me quede tan plano*/
  border-radius: 10rem;
  /* separa la letra dentro del cuadro */
  padding: 0.5rem;
}

/* cuando pase el mouse por encima del elemento HOVER Y FOCUS  */
.list>li>a:hover {
  background-color: #145c7a;
}


.my-content {
  width: 100%;
  height: 30rem;
  margin-top: 15rem;
  margin-bottom: 15rem;

  display: flex;
  font-size: 2rem;
}

.present,
.photo {
  width: 50%;
}

.present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 5rem;
}

.present>h1 {
  /* //cambiar el tamaño de la letra */
  font-size: 3.3rem;
  color: #087ea8;
}

.social-red>div>a {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  text-align: center;
}

.social-red {
  margin: 1rem;
  display: flex;
}

.options-red {
  display: flex;
}

.options-red>li> {
  width: auto;
  height: auto;
  cursor: pointer;
}

img.logos {

  width: 3rem;
  height: 3rem;

}

#discord-red {
  background-image: url(content/imagen/redes/discordd-AZUL.png);
}

#discord-red:hover {
  background-image: url(content/imagen/redes/discordd-BLNCO.png);
}

#git-red {
  background-image: url(content/imagen/redes/github-AZUL.png);
}

#git-red:hover {
  background-image: url(content/imagen/redes/github-BLANCO.png);
}




/* ANIMACION BOTON DOWLAND CV  */
.dowland-cv {
  width: auto;
  height: auto;
  text-decoration: none;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  padding: 0.75rem;
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 31.25rem;
  overflow: hidden;
  background: #c3c9c9;
  color: #087ea8
}

.dowland-cv-span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dowland-cv .dowland-cv-span {
  position: relative;
  z-index: 10;
  transition: color 1s;
}

.dowland-cv:hover .dowland-cv-span {
  color: #145c7a;
}

.dowland-cv::before,
.dowland-cv::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dowland-cv::before {
  content: "";
  background: #145c7a;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.dowland-cv:hover::before {
  transform: translate3d(100%, 0, 0);
}

.animation {
  width: auto;
  height: 2.5rem;
  display: flex;
  font-size: 1.25rem;
  line-height: 2.5rem;
  overflow: hidden;
}

.animation-01,
.animation-01>p {
  margin: 0;
  padding-left: 0.6rem;
}

.animation-01 {
  font-size: 2.3rem;
  list-style: none;
  animation: movimiento 10s infinite;
}

.animation-01 li {
  background-image: linear-gradient(90deg, #087ea8, #c3c9c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0.3rem;
  letter-spacing: 0.06rem;
}

@keyframes movimiento {
  0% {
    margin-top: 0;
  }

  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -2.5rem;
  }

  50% {
    margin-top: -2.5rem;
  }

  55% {
    margin-top: -5rem;
  }

  80% {
    margin-top: -5rem;
  }

  85% {
    margin-top: -2.5rem;
  }

  95% {
    margin-top: -2.5rem;
  }

  100% {
    margin-top: 0;
  }
}

/* PHOTO-PROFILE */
@keyframes animationPhoto {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 1.25rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.my-photo {
  width: 24rem;
  height: 24rem;
  animation: animationPhoto 2.5s infinite;
  border: 0.3rem solid #c3c9c9;
  border-radius: 50%;
  filter: drop-shadow(0rem 0rem 1.8rem #c3c9c9);
}

/* MAIN*/

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.projects {
  width: 100%;
  height: auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;

}

.my-projects {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 3rem;
}



.cards {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-card {
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  height: auto;
  border-radius: 2.5rem;
  transition: 0.4s;
  background-color: #203b47d5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* separar la linea */
  /* line-height: 1rem; */

}

.container-card:hover {
  filter: drop-shadow(0rem 0rem 1.87rem #145c7a);
  transform: scale(1.1);
}

.container-card>a {
  background-color: #145c7a;
  text-decoration: none;
  border-radius: 31.25rem;
  padding: 1rem;

}

.container-card>a:hover {
  background-color: #c3c9c9;
  color: #087ea8;
  filter: drop-shadow(0rem 0rem 1.87rem #c3c9c9);

}

.container-card>h2 {
  color: #087ea8;
  font-size: 2rem;
}

.cards img {
  margin: 2rem;
  width: 10rem;
  height: 9.4rem;
}

.container-card>p {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  text-align: center;
  color: #c3c9c9;
  font-size: 1.3rem;
  text-align: justify;
  overflow: wrap;
}

.services {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cards-services {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}

.my-services {
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.part-2 {
  margin-left: 2rem;
  color: #087ea8;
}

.container-card-services {
  padding: 1rem;
  width: 20rem;
  height: 38rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #203b47d5;
  transition: 0.4s;

}

.container-card-services:hover {
  filter: drop-shadow(0rem 0rem 1.87rem #145c7a);
  transform: scale(1.1);
}


.container-card-services>img {
  margin: 3rem;
  width: 10rem;
  height: 9.4rem;
  border-radius: 0.31rem 0.31rem;
  object-fit: contain;
}

.container-card-services>h2 {
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
  color: #087ea8;
  font-size: 2rem;
}

.container-card-services>p {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  text-align: center;
  color: #c3c9c9;
  font-size: 1.3rem;
  text-align: justify;
  overflow: wrap;
}

.container-card-services>a {
  width: 50%;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #145c7a;
  border-radius: 31.25rem;
  text-align: center;
  padding: 1rem;
  color: inherit;
}

.container-card-services>a:hover {
  background-color: #c3c9c9;
  color: #087ea8;
  filter: drop-shadow(0rem 0rem 1.87rem #c3c9c9);

}

.contact-me {
  margin-bottom: 10rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.contact {
  display: flex;
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.form>div>input,
textarea {
  background-color: #203b47d5;
  color: #c3c9c9;
  border-radius: 1.87rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
  margin: 0.31rem;
}

.input-1 {

  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

textarea {
  width: 37.5rem;
  height: 20rem;
  text-align: left;
  padding: 1rem;
}

.send-message {
  background-color: #145c7a;
  text-decoration: none;
  border-radius: 31.25rem;
  padding: 1rem;
  transition: 0.4s;
  font-size: 1.5rem;
  margin-top: 3.5rem;

}

.send-message:hover {
  background-color: #c3c9c9;
  color: #087ea8;
  filter: drop-shadow(0rem 0rem 1.87rem #c3c9c9);
  transform: scale(0.9);
}

footer {
  width: 96%;
  height: 5rem;
  background-color: #203b47d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.footer>a {
  text-decoration: none;
  width: 3rem;
  height: auto;
  border-radius: 6.25rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #145c7a;
}

.footer>a>img {
  width: 2rem;
  height: 2rem;
}

@media (max-width:1279px){
  .my-content{
    margin-top: 11rem;
  }
  .my-photo{
    width: 20rem;
    height: auto;
  }
}

@media (max-width:920px){
.my-content{
  margin-top: 12rem;
}

  .my-photo{
    width: 18rem;
    height: auto;
  }
}

@media (max-width:768px) {

  .logo{
    padding-left: 1rem;
  }

  .my-content{
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  .present{
    margin-top: 3rem;
    width: 90%;
    padding: 5%;

  }
  .present>p{
    text-align: justify;

  }

  .my-photo{
    width: 18rem;
    height: auto;
  }

  .social-red {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .options-red {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .dowland-cv {
    width: 15rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .services {
    margin-top: 0;
  }

  .input-1{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .input-1>input{
    width: 14.5rem;
    height: auto;
  }

  textarea{
   width: 20em; 
  }
}

@media (max-width:480px) {

  body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .navbar {
    width: 98%;
  }

  .logo {
    padding: 0.5rem;
  }

  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-right: 1rem;

  }

  #toggler:checked~.menu {
    max-height: 100%;
  }

  .my-content {
    width: 100%;
    height: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center;   */
    margin: 0rem;
    padding: 0rem;
    /* background-color: #087ea8; */
  }

  .greeting {
    margin-top: 3rem;
  }

  .present {
    width: 90%;
    padding: 0rem 5% 0rem 5%;

  }

  .description {
    text-align: justify;
  }

  .present>h1 {
    font-size: 2.5rem;
  }

  .social-red {
    display: flex;
    flex-direction: column;
  }

  .options-red {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .dowland-cv {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .photo {
    height: auto;
    width: 100%;
    margin-top: 5.5rem;
  }

  .my-photo {
    width: 10rem;
    height: 10rem;

  }

  .services {
    width: 100%;
    margin-top: 3rem;
  }

  .my-services {
    margin: 3rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  }

  .part-2 {
    margin: 0;
  }

  .cards-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .container-card-services {
    width: 12rem;
    height: auto;
    border-radius: 1.8rem;
  }

  .container-card-services img {
    margin: 0.5rem;
    max-width: 8rem;
    max-height: 5rem;
    /* object-fit: contain; */
  }

  .container-card-services h2 {
    font-size: 1.3rem;
  }

  .container-card-services>p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .container-card-services>a {
    width: 50%;
    height: auto;
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .projects {
    align-items: center;
    margin-top: 1rem;

  }

  .my-projects {
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  }

  .part-2 {
    margin: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .container-card {
    width: 12rem;
    height: auto;
    border-radius: 1.8rem;
  }

  .container-card img {
    margin: 0.5rem;
    width: 9rem;
    height: 5rem;
    object-fit: contain;
  }

  .container-card h2 {
    font-size: 1.3rem;
  }

  .container-card>p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .container-card>a {
    width: 50%;
    height: auto;
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .contact-me {
    margin-top: 5rem;
  }

  .contact {
    margin: 0rem 1rem 1rem 1rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    font-size: 1.8rem;
  }
  textarea{
    width: 14.5rem;
  }

  .send-message {
    margin-top: 2rem;
    font-size: 0.8rem;
  }

  .footer h2{
    font-size: 0.5em;
  }

  .footer>a {
    width: 2rem;
  }

  .footer>a>img {
    width: 1rem;
    height: 1rem;
  }

}